<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>picture-drummachine</title>

	<!-- import the webpage's stylesheet -->
	<link rel="stylesheet" href="style.css" />

	<!-- import the webpage's javascript file -->
	<script src="./lib/webmidi.js"></script>
	<script src="./lib/p5.js"></script>
	<script src="./lib/vue.js"></script>
	<script src="./lib/index-min.js"></script>
	<script src="./lib/buffer@6.0.3.js"></script>
	<script src="./lib/gif-frames.js"></script>
	<script src="script.js" defer></script>
</head>


<body>
	<div id="picture-drummachine">
		<main id="main">
			<select class="inputs" @change="onMidiInputChange">
				<option v-for="input in inputs" :selected="input.name == currentMidiInput.name">{{input.name}}</option>
			</select>
		</main>

		<div class="ui">
			<div class="pads">
				<div class="pad" :class="{'just-triggered': pad.justTriggered}" v-for="(pad, i) of pads"
					@drop="dropHandler(i, $event)" @dragstart="dragStartHandler(i)"
					@dragover="dragOverHandler(i, $event)" @pointerdown="padPressed(i)" @pointerup="padReleased(i)">

					<img v-if="pad.image" :src="pad.image" />
					<div v-else></div>

					<span class="note">{{getNoteNameAndOctave(i)}}</span>
				</div>
			</div>
		</div>
	</div>
</body>