<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>posemidi</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's javascript file -->
    <script src="https://cdn.jsdelivr.net/npm/webmidi"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <script src="/script.js" defer></script>
  </head>
  <body>
    <div id="posemidi">
      <main
        id="main"
        ondrop="dropHandler(event);"
        ondragover="dragOverHandler(event);"
      >
        <div class="playback-controls">
          <input class="position" type="range" min="0" :max="currentTime" step="any" :value="currentTime" 
                 @input="onPositionInput" @change="onPositionChange" @mousedown="onPositionDown" />
          <div class="playback-speed-container">
            <label class="playback-speed-label">
              speed:
              <input
                class="playback-speed"
                type="range"
                min="0.125"
                max="4"
                :value="playbackSpeed"
                @input="onSpeedInput"
                step="0.125"
              />
              <span>{{playbackSpeed}}</span>x
            </label>
          </div>

          <code class="info">
            <div class="current-time">time: {{currentTime.toPrecision(3)}} / {{videoDuration.toPrecision(3)}}s</div>
          </code>

          <button class="play-pause" onclick="togglePlaying()">pause</button>
        </div>
      </main>

      <div class="midi">
        <header>
          <div class="left"></div>

          <div class="right">
            <select class="outputs" @change="onMidiOutputChange">
              <option v-for="output in outputs">{{output.name}}</option>
            </select>
          </div>
        </header>

        <div class="joints">
          <div v-for="(i, item) in trackedItems"
            v-if="item.type == 'absolute'"
            class="tracked-item absolute"
          >
            <div>
              <span class="index">{{i}}</span>
              <span class="name">PERSON {{item.person}}
                <span class="sep">-</span> {{item.part}}</span>
              <button class="delete" @click="deleteTrackedItem(i)">
                x
              </button>
            </div>

            <div>
              <span class="sep">x: </span>
              <span class="x">{{item.x}}</span>
              <button class="test" onclick="sendTest(${midiI}, 1)">test</button>

              <br />
              <span class="sep">y: </span>
              <span class="y">{{item.y}}</span>
              <button class="test" onclick="sendTest(${midiI}, 2)">test</button>

              <br />
              <span class="sep">velocity: </span>
              <span class="velocity">{{item.velocity}}</span>
              <button class="test" onclick="sendTest(${midiI + 1}, 3)">
                test
              </button>
            </div>
          </div>
          
          <div v-for="(item, i) in trackedItems"
            v-if="item.type == 'relative'"
            class="tracked-item relative"
          >
            <div>
              <span class="index">{{i}}</span>
              <span class="name">PERSON {{item.person}}
                <span class="sep">-</span> {{item.part}}</span>
              <button class="delete" @click="deleteTrackedItem(i)">
                x
              </button>
            </div>

            <div>
              <div>
                <span class="sep">x: </span>
                <span class="x">{{item.x}}</span>
                <button class="test" onclick="sendTest(${midiI}, 1)">test</button>
              </div>
              
              <div>
                <span class="sep">y: </span>
                <span class="y">{{item.y}}</span>
                <button class="test" onclick="sendTest(${midiI}, 2)">test</button>
              </div>

              <div>
                <span class="sep">velocity: </span>
                <span class="velocity">{{item.velocity}}</span>
                <button class="test" onclick="sendTest(${midiI + 1}, 3)">
                  test
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
