body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

video {
    text-align: inherit;
    width: 250px;
    height: auto;
}

.playback-speed-container {
  display: flex;
  flex-direction: column;
}

canvas {
  margin: 0 auto;
  width: 100% !important;
  height: unset !important;
  filter: grayscale(1);
}

main {
  display: flex;
  flex-direction: column;
}

main .inner {
  padding: 25px;
  order: 2;
}

.midi {
  border-left: 1px solid grey;
  padding: 25px;
}

.midi {
  overflow-y: scroll;
  padding-bottom: 100px;
}


.joints {
    display: grid;
}

.joint {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid lightgray;
}

.joint .name {
  text-transform: uppercase;
  opacity: 0.6;
  letter-spacing: 0.1em;
}

.joint .grid {
  display: grid;
  grid-template-columns: 15px 50px auto 40px;
  margin-bottom: 5px;
  grid-gap: 0 5px;
}

progress {
  width: 100%;
}

@media(min-width: 1920px) {
  .joints {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 20px;
  }
}