* {
    font-family: monospace;
}

body {
  height: 100vh;
  position: absolute;
  align-items: c;
  margin: 0;
  background: #000000;
  color: white;
  width: 100%;
  top: 0;
}


.playback-speed-container {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}

canvas {
  margin: 0 auto;
  width: 100% !important;
  height: unset !important;
  /* filter: grayscale(1); */
}

canvas:hover {
/*   opacity: 0.9; */
}

main {
  display: flex;
  padding: 50px;
  top: 0;
  position: sticky;
  flex-direction: column;
  transition: opacity 0.2s;
}

main.half-transparent {
  opacity: 0.5;
}

.pose > .name {
    font-weight: bold;
    margin-top: 20px;
    display: grid;
    /* grid-column: 1 / span 3 !important; */
    grid-template-columns: 260px  repeat(4, 1fr);
}

.midi {
  padding: 25px;
  padding-bottom: 100px;
  margin-top: 57vw;
  padding-top: 0;
  z-index: 2;
  position: relative;
  transition: opacity .1s;
}

.current-frame {
  display: none;
}

.joints {
    display: grid;
}

.joint {
  margin-top: 5px;
  padding-top: 5px;
  grid-column: 1;
  border-top: 1px solid #ffffff3d;
  display: grid;
  grid-template-columns: 30px 100px 30px 100px repeat(4, 1fr);
}

.joint .name {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.joint .name .index {
  opacity: 0.6;
}

.joint .grid {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 5px;
  grid-gap: 0 20px;
  align-items: center;
}


  .joints {
    /* grid-template-columns: 1fr 1fr; */
    grid-gap: 30px 30px;
  }


@media(min-width: 1700px) {
  body {
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    margin-top: 50px;
  }

  main {
    /* position: relative; */
  }

  .midi {
    /* width: 50vw; */
    margin-top: 0;
    padding-right: 50px;
  }
}


button, select {
  background: none;
  color: #ffffff;
  border: 1px solid #ffffff85;
}

button {
  background: none;
  color: #ffffff;
  border: 1px solid transparent;
  opacity: 0.6;
}

button:hover {
  opacity: 1;
  border: 1px solid #ffffff85;
}

progress {
  width: 100%;
  filter: grayscale(1) invert(1) brightness(1.1);
}

input[type="range"] {
    filter: grayscale(1) invert(1) brightness(3);
}

input.playback-speed {
    max-width: 200px;
    margin: 0 10px;
    position: relative;
}

select.outputs {
    margin: 10px 0;
    /* margin-left: auto; */
    display: flex;
}

code.info {
    margin: 10px 0;
}


header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  margin-top: 10px;
}

label.playback-speed-label {
    display: flex;
    align-items: center;
}

input.position {
    max-width: 100%;
    width: 100%;
}

/* body:not(:hover) .midi {
  opacity: 0.5;
} */

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button.play-pause {
    height: min-content;
    margin-right: 15px;
    border-radius: 0;
    opacity: 1;
    display: none;
}


.playback-controls {
  order: 2;
}

.sep, .index {
  opacity: 0.5;
}

.pose > .name > span:not(:first-child) {
    text-align: end;
}

.joint > .rel-x, .rel-y, .abs-x, .abs-y {
    text-align: end;
}