* {
	font-family: monospace;
	box-sizing: border-box;
}

body {
	height: 100vh;
	position: absolute;
	margin: 0;
	width: 100%;
	top: 0;
}

#picture-drummachine  {
	height: 100vh;
	display: grid;
	grid-template-rows: auto auto;
}

#picture-drummachine .split {
	display: grid;
	height: calc(100vh - 34px);
}

canvas {
	width: 100% !important;
	object-fit: scale-down;
	height: auto !important;
}

canvas:hover {
	/*   opacity: 0.9; */
}

main {
	flex-direction: column;
	width: 100%;
	background: #000000be;
	top: 0;
	padding: 15px;
}

main .group {
	/* background: #00000039; */
	flex-direction: column;
	display: flex;
}

#softpacksix {
	mix-blend-mode: lighten;
	width: 125px;
	position: absolute;
	bottom: 20px;
	user-select: none;
}


.controls {
	display: flex;
	grid-gap: 5px 15px;
	order: 2;
	flex-wrap: wrap;
}

canvas {
	margin-bottom: 15px;
}

/* Landscape */
@media (min-aspect-ratio: 1/1) {
	#picture-drummachine .split {
		grid-template-columns: var(--area-1) 10px var(--area-2);
	}

	main .group {
		
		/* align-items: flex-start; */
	}

	

	.controls {
		/* flex-direction: column; */
	}

	.gutter {
		cursor: col-resize;
	}
}

/* Portrait */
@media (max-aspect-ratio: 1/1) {
	#softpacksix {
		display: none;
	}

	#picture-drummachine .split {
		grid-template-rows: auto max-content;
	}

	.controls {
		/* margin-bottom: 10px; */
		/* display: grid; */
	}

	.gutter {
		cursor: row-resize;
	}
}



main.half-transparent {
	opacity: 0.5;
}


.midi {
	padding: 50px;
	padding-top: 0;
	z-index: 2;
	position: relative;
	transition: opacity .1s;
}



/* 
@media(min-width: 1200px) {
  body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 50px;
  }

  main {
    /* position: relative; */


.midi {
	/* width: 50vw; */
	margin-top: 0;
	padding-right: 50px;
}


button,
select {
	/* background: none; */
	height: 100%;
	border: 1px solid black;
}

select,
input,
button {
	background-color: hsl(113deg 0% 69%);
}

select:hover,
input:hover,
button:hover {
	background-color: hsl(113deg 0% 90%);
}

button {
	margin-bottom: 5px;
	border: 1px solid transparent;
	width: max-content;
}

button:hover {
	opacity: 1;
	border: 1px solid #ffffff85;
}

input[type="range"] {
	filter: grayscale(1) invert(1) brightness(3) contrast(.8);
}

input[type="range"]:hover {
	filter: grayscale(1) invert(1) brightness(3) contrast(1);
}

input.playback-speed {
	width: 150px;
	margin: 0 10px;
	position: relative;
}


code.info {
	margin: 10px 0;
}


header {
	/* display: grid; */
	/* grid-template-columns: 1fr 1fr; */
	/* grid-gap: 25px; */
	/* margin-top: 10px; */
	display: flex;
	/* margin-bottom: 20px; */
	padding: 5px 15px;
	grid-gap: 15px;
}



/* body:not(:hover) .midi {
  opacity: 0.5;
} */

.right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.ui {
	padding: 15px;
	grid-gap: 15px;
	display: grid;
	overflow: scroll;
	height: 100%;
	background: #4141413b;
}


.pads {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 10px;
	width: 100%;
	padding-bottom: 50px;
}

.pad {
	min-width: 0;
	border: 1px solid #00000017;
	border-width: 3px;
	border-radius: 4px;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center;
	flex-direction: column;
	grid-template-rows: 2fr 1fr;
	/* padding-bottom: 5px; */
	font-weight: bold;
}

.pad .placeholder {
	height: 100%;
}

.pad img {
	object-fit: contain;
	object-position: center center;
	width: 100%;
	height: 100%;
	image-rendering: pixelated;
}

input[type="range"] {
	direction: rtl;
}

.pad:hover {
	border-color: black;
	/* background-color: #eee; */
}


.pad:hover .note {
	/* background-color: #ccc; */
}

.pad.just-triggered,
.pad.just-triggered .note {
	background: cyan;
}


.pad:not(.just-triggered),
.pad:not(.just-triggered) .note {
	transition: background .25s;
}

.pad .note {
	text-align: center;
	width: 100%;
	padding-bottom: 3px;
	padding-top: 3px;
	background-color: rgba(255, 255, 255, 0.301);
}

canvas:hover {}

@keyframes pad-trigger {
	from {
		background: cyan;
	}

	to {
		background: transparent;
	}
}

.pad {
	user-select: none;
}

header select {
	/* order: 2; */
	/* margin-right: auto; */
}